@model MayBeYouMissSomeNews.Models.user
@using MayBeYouMissSomeNews.Models
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/LayoutOfWeb.cshtml";
}


<section class="w3l-contact-2 py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="section-title-left">Cập nhật thông tin</h3>
        <div class="contact-grids d-grid">
            <div class="contact-left">
                <img src="~/Content/assets/img/avatar/author.jpg" width="400" height="400" alt="" class="img-fluid radius-image news-image">
                <br />
                <br />
                <input class="" type="file" value="Chọn ảnh" />
            </div>
            <div class="contact-right">
                @using (Html.BeginForm("EditProfile", "Home", FormMethod.Post, new { @class = "signin-form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="input-grids">

                        @Html.TextBox("name", "", new { required = "required", placeholder = "name", type = "text", @class = "contact-input" })

                        @Html.TextBox("gender", "", new { required = "required", placeholder = "name", type = "text", @class = "contact-input" })


                    </div>


                    <input class="btn btn-style btn-outline" type="submit" value="Lưu" />

                }
            </div>
        </div>
    </div>
</section>