
@using MayBeYouMissSomeNews.Models
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/LayoutOfWeb.cshtml";
}

<section class="w3l-contact-2 py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="section-title-left">Thông tin của bạn</h3>
        @if (Session["Account"] != null)
        {

            user u = (user)Session["Account"];
            <div class="contact-grids d-grid">
                <div class="contact-left">
                    <div class="cont-details">
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-id-card-o"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Họ và tên</h6>
                                <p>@u.name</p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Giới tính</h6>
                                
                                    @if(@u.gender==1)
                                {
                                    <p>Nữ</p>
                                    }
                                else if(@u.gender==0)
                                {
                                <p>Nam</p>
                                }
                                else{
                                <p>Khác</p>
                                }
                               
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-envelope-o"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Email</h6>
                                <p>@u.email</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-right">

                    <img src="~/UploadedFiles/images/@u.photo" width="400" height="400" alt="" class="img-fluid radius-image news-image">
                    <br />
                    <br />
                    <button class="btn btn-style btn-outline"><a href="/Home/EditProfile/@u.userid">Chỉnh sửa thông tin</a></button>
                </div>
            </div>
        }
</section>